html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "helveticaregular", Arial, sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "pnum", "lnum", "cpsp";
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: red;
    background: yellow;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
p {
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: baseline;
	padding: 40px 0px;
}

.header-links {
    display: flex;
    flex-direction: row;
	font-size: 36px;
	font-weight: bold;
	align-items: flex-end;
}

.header-links .accent-switcher {
	margin-left: 22px;
	cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    align-content: baseline;
}

.title .horizontal {
	font-size: 114px;
	font-weight: bold;
}

.title .vertical {
    font-size: 36px;
	width: 36px;
	font-weight: bold;
}

/* Custom classes */
.app-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.rotate-wrapper {
    position: relative;
}

.rotate-inner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.rotate {
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}