html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "helveticaregular", Arial, sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "pnum", "lnum", "cpsp";
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

/* ::selection {
    color: red;
    background: yellow;
} */

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
p {
    margin: 0;
}

/* PLAY TRAILER */

.react-player {
	position: absolute;
	top: 0;
	z-index: 0;
	background: #0f0f0f;
}

/* Animations */

.shine {
	background: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #d2d2d2 20%, #f6f7f8 40%, #d2d2d2 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px; 
	display: inline-block;
	position: relative; 
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0; 
	}
}