html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "helveticaregular", Arial, sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "pnum", "lnum", "cpsp";
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

/* ::selection {
    color: red;
    background: yellow;
} */

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
p {
    margin: 0;
}

/* PLAY TRAILER */

.react-player {
	position: absolute;
	top: 0;
	z-index: 0;
	background: #0f0f0f;
}